[Unit]
Description=climbing day 2025
After=network.target

[Service]
User=gyate
WorkingDirectory=/home/gyate/cd2025
Environment="PATH=/home/gyate/venv"
ExecStart=/home/gyate/venv/binpython server.py
Restart=always

[Install]
WantedBy=multi-user.target

