<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>ARC’TERYX CLIMBING DAY Vol.2 2025</title>
</head>
<body>
    <h1>記録フォーム / Input Form</h1>
    <h2>Name : {{ player.name }}, 　　Category : {{ player.category }}</h2>
    <button onclick="location.href='/mainpage/{{player.UUID}}'">メインページへ</button>
    <button onclick="location.href='/ranking/{{player.UUID}}'">リアルタイムリザルトへ</button>
    <br>
    <form method="post" action="{{ url_for('input', UUID=player.UUID) }}">
    {% for i in kadai_list %}
    <div class="kadai-item">
    <div class="kadai-top">
        <div class="kadai-info">
            <p class="title">No.{{ loop.index }} </p>
            <p class="senders">完登者数: {{ i.senders }}人,　現在のポイント: {{ i.point }}pt</p>
        </div>
        {% if i.completed == True %}
            <button type="submit" name="delete" value="{{ i.number }}" class="deletebutton">DELETE</button>
        {% else %}
            <button type="submit" name="send" value="{{ i.number }}" class="sendbutton">SEND!</button>
        {% endif %}
    </div>

    {% if i.img %}
        {% if i.completed == True %}
            <img class="kadai-img" src="{{ i.monoimg }}">
        {% else %}
            <img class="kadai-img" src="{{ i.img }}">
        {% endif %}
    {% else %}
        <img class="kadai-img" src="/static/images/kadai/noimage.jpg">
    {% endif %}
</div>
{% endfor %}
</form>
    <footer>
        <p> Judgesheet Assistant made by T4 and kaiz. </p>
    </footer>
</body>
</html>
