<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>ARC’TERYX CLIMBING DAY Vol.2 2025</title>
</head>
<body>
    <h1>記録フォーム / Input Form</h1>
    <h3>{{ UUID }}</h3>
    <footer>
        <p> Judgesheet Assistant made by T4 and kaiz. </p>
    </footer>
</body>
</html>
