<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>ARC’TERYX CLIMBING DAY Vol.2 2025</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/header_cut.jpg') }}" alt="ARC’TERYX CLIMBING DAY Vol.2 2025 Header Image">
    <h1>ルール / Rules</h1>
    <button onclick="location.href='/mainpage/{{UUID}}'">メインページへ</button>
    <button onclick="location.href='/input/{{UUID}}'" class="highlighted">記録フォームへ</button>
    <br>
    <p>ルールです.</p>
</body>
</html>
